In [3]:
import numpy as np
arr = np.array([1,2,3])
arr

array([1, 2, 3])

创建多维数组

In [57]:
arr = np.array([[1,2,3],[4,5,6]])
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [60]:
arr = np.array([1,2.2,'three'])
arr

array(['1', '2.2', 'three'], dtype='<U32')

In [2]:
from pandas import Series
s = Series(data=[1,2,3,'four'])
s

0       1
1       2
2       3
3    four
dtype: object

In [3]:
import numpy as np
s = Series(data=np.random.randint(0,100,size=(3,)))
s

0    97
1    97
2    10
dtype: int64

In [4]:
dic = {
    '语文':100,
    '数学':99,
    '理综':250
}
s = Series(data=dic)
s

语文    100
数学     99
理综    250
dtype: int64

In [7]:
s[0]
s.语文
s[0:2]

语文    100
数学     99
dtype: int64

In [12]:
s.shape
s.size
s.values
s.dtype

dtype('int64')

In [14]:
s = Series(data=[1,2,3,"four"],index=['a','b','c','d'])
s.dtype

dtype('O')

In [16]:
from pandas import DataFrame

df = DataFrame(data=[[1,2,3],[1,2,3]])
df

   0  1  2
0  1  2  3
1  1  2  3

In [21]:
dic = {
    'name':['zhangsan','lisi','wanglaowu'],
    'salary':[1000,2000,3000]
}
df = DataFrame(data=dic,index=['a','b','c'])
df.values
df.columns
df.index
df.shape

(3, 2)